/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'fullpage.js/dist/fullpage.min';
@import '~/assets/css/fullpage';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@responsive {
  .pl-1\/6 {
    padding-left: 16.666667%
  }
  .pr-1\/6 {
    padding-right: 16.666667%
  }
  .pl-1\/8 {
    padding-left: 12.5%
  }
  .pl-1\/7 {
    padding-left: 14.285714%
  }
  .pr-1\/12 {
    padding-right: 8.333333%;
  }
  .px-1\/12 {
    padding-left: 8.333333%;
    padding-right: 8.333333%;
  }
  .left-1\/6 {
    left: 16.666667%
  }
  .rounded-xl {
    border-radius: 0.75rem;
  }
  .rounded-t-xl {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .rounded-2xl {
    border-radius: 1rem;
  }
  .text-2xs {
    font-size: .65rem;
  }
  .text-vw-4xl {
    font-size: 2vw;
  }
  .max-h-1\/2 {
    max-height: 50%;  
  }
}
